<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" [routerLink]="['/recipes', 'new']">
      + new recipe
    </button>
  </div>
  <div class="col-xs-12">
    <hr />
  </div>
</div>
<div *ngIf="recipes.length > 0" class="row">
  <div class="col-xs-12">
    <app-recipe-item
      *ngFor="let recipe of recipes; let i = index"
      [recipe]="recipe"
      [index]="i"
    ></app-recipe-item>
  </div>
</div>
<div class="row" *ngIf="recipes.length == 0">
  <div class="col-xs-12">
    <h4>no recipes now !</h4>
  </div>
</div>
