/* You can add global styles to this file, and also import other style files */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: Tahoma;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  border-radius: 4px !important;
}
