/* You can add global styles to this file, and also import other style files */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-transform: capitalize;
}
input.ng-valid.ng-touched {
  border: 1.5px solid #080;
}
input.ng-invalid.ng-touched {
  border: 1.5px solid #f00;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  border-radius: 4px !important;
  margin-bottom: 10px;
  margin-top: 10px;
}
label {
  margin-bottom: 10px;
  font-weight: bold;
}
.row > div {
  margin-bottom: 10px;
}
